
.bestsellers {
  padding: 7rem 0;
  position: relative;
  color: white;

  background-image: url('../img/leaves2.jpg');
  z-index: 0;
  background-size: cover;
  background-position: center;
  object-fit: cover;


  // &:after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-image: url('../img/leaves2.jpg');
  //   z-index: 0;
  //   background-size: cover;
  //   background-position: center;
  //   object-fit: cover;

    @include respond(phone) {
      background-image: url('../img/leaves2-mobile.jpg');
      height: 110rem;
    }


  &__header {
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 4px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    border: 1px solid white;
    padding: 1rem;
    color: white;

    @include respond(phone) {
      font-size: 2.5rem;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 42rem;
    margin-top: 5rem;

    @include respond(phone) {
      flex-direction: column;
      height: 90rem;
      margin-top: 8rem;
    }

  }

  &__add {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    border-top: 1px solid white;
    opacity: 0;

    h3 {
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 300;
    }

    &--detail {
      background-color: #EEEEEECC;
      color: #333;
      cursor: pointer;
    }

    &--card {
      background-color: #FA5555;
      cursor: pointer;
    }

    * {
      padding: 1.5rem 1rem;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }

  &__watch {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    margin: 0 3rem;
    transition: all .4s;

    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: #333333;
      transition: opacity .8s;
    }

    &:hover {
      border: 1px solid white;
    }

    &:hover .bestsellers__add {
      opacity: 1;
    }

    &:hover &__photo {
      transform: scale(1.1);
    }

    &:hover h2,
    &:hover h4,
    &:hover .stars {
      opacity: 0;
    }

    &:hover:after {
      opacity: .45;
    }

    &__photo {
      width: auto;
      cursor: pointer;
      height: 65%;
      object-fit: cover;
      margin-bottom: 1.5rem;
      transition: all 1s;
    }

    h2 {
      text-transform: uppercase;
    }

    h4 {
      font-weight: 300;
      font-size: 1.5rem;
    }

    button {
      background-color: black;
      text-transform: uppercase;
    }

    h2, h4, button {
      margin-top: 1rem;
    }
  }
}







