
.collection {
    padding: 5rem;

  &__box {
      width: 100%;
      height: 55rem;
      position: relative;

      @include respond(phone) {
        display: grid;
        grid-template-column: 1fr;
        grid-template-row: 2fr;
      }
  }

  &__men {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      clip-path: polygon(0 0, 41% 0, 61% 100%, 0% 100%);
      z-index: 2000;
      transition: all 1s;

      @include respond(phone) {
        position: relative;
        grid-row: 1 / 2;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }

      @include respond(big-desktop) {
        &:hover {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
      }

      &__button {
        position: absolute;
        top: 50%;
        left: -30%;
        transform: translate(0, -50%);
        opacity: 0;
        transition: all 1s;
        padding: 2rem 4rem;
        font-size: 2rem;
        text-transform: uppercase;
        z-index: 5000;

        &:hover {
          background-color: white;
          color: #333;
          border: none;
        }
      }

      @include respond(big-desktop) {
        &:hover {
          opacity: 1;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &__photo {
          background-image: url('../img/man-posing4.jpg');
          background-size: cover;
          background-position: center;
          object-fit: cover;
          width: 100%;
          height: 100%;

          @include respond(phone) {
            background-image: url('../img/man-model-phone.png');
          }
   }

    h2 {
        position: absolute;
        top: 10%;
        left: 5%;
        text-transform: uppercase;
        color: white;
        font-size: 2.8rem;
        text-align: left;
        z-index: 4500;

        @include respond(phone) {
          right: 5%;
          top: 65%;
          text-align: right;
        }
    }

  }

  &__women {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clip-path: polygon(100% 0, 40% 0, 60% 100%, 100% 100%);
      transition: all 1s;

      @include respond(phone) {
        position: relative;
        grid-row: 2 / 3;
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
      }

      @include respond(big-desktop) {
        &:hover {
          z-index: 2100;
          clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        }
      }

      &__button {
        position: absolute;
        bottom: 50%;
        right: -30%;
        transform: translate(0, 50%);
        opacity: 0;
        z-index: 5000;
        transition: all 1s;
        padding: 2rem 4rem;
        font-size: 2rem;
        text-transform: uppercase;
        z-index: 5000;

        &:hover {
          background-color: white;
          color: #333;
          border: none;
        }
      }

      @include respond(big-desktop) {
        &:hover {
          opacity: 1;
          right: 50%;
          transform: translate(-50%, -50%);
        }
      }


      &__photo {
          background-image: url('../img/woman-posing6.jpg');
          background-size: cover;
          background-position: center;
          object-fit: cover;
          width: 100%;
          height: 125%;

          @include respond(phone) {
            background-image: url('../img/woman-model-phone.png');
            height: 100%;
          }
   }

    h2 {
        position: absolute;
        bottom: 10%;
        right: 5%;
        text-transform: uppercase;
        color: white;
        font-size: 2.8rem;
        text-align: right;
        z-index: 4500;

        @include respond(phone) {
          left: 5%;
          text-align: left;
        }
    }

  }


}


.photo {
  background-size: cover;
  background-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.active {
  display: block;
}




