.tree {
  padding: 15rem 0;
  background-image: url('../img/plant-tree.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  @include respond(phone) {
    background-position: 0 154px;
    padding: 8rem 0;
  }

  &__container {
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    h1 {
      font-size: 4rem;
      text-transform: uppercase;
      margin-bottom: 2rem;

      @include respond(phone) {
        font-size: 3rem;
      }
    }

    p {
      padding: 1rem 15rem;
      font-size: 1.4rem;
      margin: 1.5rem;

      @include respond(phone) {
        padding: 1rem 5rem;
      }
    }
  }
}
















