.footer {
    background-color: #467159;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text {
        color: #eee;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .3rem;
        font-size: 1.2rem;

        @include respond(tab-port) {
          font-size: .8rem;
        }
    }

    &__social-networks {
        display: flex;
        align-items: center;
    }

    &__link {
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__icon {
        color: #eee;
        font-size: 2rem;

        @include respond(tab-port) {
          font-size: 1.4rem;
        }
    }
 }
