
.history {
  width: 100%;
  color: white;


  &__container {
    height: 50rem;
    position: relative;
  }

  &__info {
    position: absolute;
    clip-path: polygon(0 0, 59% 0, 100% 100%, 0% 100%);
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background: #33333366;
    padding: 4rem;

    h1 {
      font-size: 4rem;
      padding-bottom: 3rem;
      position: relative;

      &:after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 12rem;
        height: .3rem;
        background-color: white;
      }
    }

    p {
      font-size: 1.5rem;
      margin-top: 4.5rem;
      padding-right: 15rem;
    }
  }

  &__video--1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-self: flex-end;
  }

}
